
<style type="text/css">
table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-size: 11pt;
	
}
th{
	color: #000;
	font-size: 9pt;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em;
	border-width: 0.5px;
	border-style: solid;
	border-color: #CCC;
	border-collapse: collapse;
	background-color: #CCC;
}
td{
	
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:11px;
	/*border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-collapse: collapse;
	margin: 0px 0px;*/
}

h3 {
	font: normal 120% Georgia;
	color: #283f08;
	background-color: transparent;
}

</style>
